@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <H2>HELLO WORLD</H2>
    <P>gHANA</P>
    <img src="KALEO CIC" alt="" srcset="">
    <form action="" method="get">
        <p>Name :</p><input type="text">
        <input type="button" value="submit">
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
